* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: darkslategrey;
    color: white;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
    padding: 15px 6% 15px 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(36, 36, 36);
}

header h1 {
    font-size: 4vw;
    text-transform: uppercase;    
    background: linear-gradient(0deg, rgba(255,0,255,0) 0%, rgba(255,0,255,0) 16%, coral 16%, coral 41%, rgba(255,0,255,0) 41%);
    padding: 0 0.5em 0 0.5em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1rem;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 11px 11px;
}

nav a:hover {
    background: linear-gradient(0deg, rgba(255,0,255,0) 0%, rgba(255,0,255,0) 30%, coral 16%, coral 50%, rgba(255,0,255,0) 41%);
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}


.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.page-section h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 17px;
  border-right: 1px solid;
  font-size: 4vw;
  line-height: 1;
}

.page-section p {
  margin-bottom: 25px;
}

.page-section > div {
  flex: 0 0 72%;
}

.page-section main > div {
  flex: 0 0 72%;
}

.page-section secondary > div {
  flex: 0 0 72%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-item {
  background-color: rgb(233, 152, 152);
  min-height: 150px;
  max-height: 150px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  border: 3px solid black;
  flex-basis: 48%;
}

.flex-item:first-child {
  min-height: 400px;
  flex-basis: 100%;
  margin-top: 0px;
  background-color: pink;
}


@media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }
  
    header h1 {
      font-size: 10vw;
      margin: 2% 0 0 0;
      padding: 0 0.5em 0 0.5em;
    }
  
    header nav {
      justify-content: center;
      margin-bottom: 20px;
    }
}

